.App {
    text-align: center;
  }
/* login and registration style */
.primary-text-custom{
    color: 96734F !important;
}

.form-control{
    background-color: rgb(255, 216, 194) !important;
}

.btn-primary{
    background-color: rgb(200, 93, 0) !important;
    border-color: rgb(210, 95, 0) !important;
}

.logo-container{    
    position: relative !important;
    left: 50% !important;   
    transform: translateX(-50%) !important;
    width: 20vw !important;
    min-width: 200px !important;
    min-height: 200px !important;
    height: 20vw !important;
    object-fit:cover !important;
}
.logo-container2{
    width: 20vw !important;
    height: 20vw !important;
    object-fit:cover !important;
    margin-left: 34vw !important;
}

.logo-container img{
    width: 100% !important;
    height: 100% !important;
}
/* nav styles */

.custom-btn {
    background-color: #faeada;
    border-radius: 30px;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.custom-btn:hover {
    background-color: #c5876b; 
    color: white;
}


/* home/landing page styles*/

.category-btn{
    background-color: #f8e7db;
    border-radius: 30px;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.category-btn:hover {
    background-color: #cd9c86; 
    color: white;
}
/* card styles */
.card-btn{
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.responsive-card {
    width: 100% !important; 
    max-width: 200px !important; 
    margin: 10px auto; 
    cursor: pointer;
  }
  
  @media (min-width: 576px) {
    .responsive-card {
      max-width: 180px ; 
    }

    .hide-mobile{
        display: none !important;
    }
  }
  
  @media (min-width: 768px) {
    .responsive-card {
      max-width: 220px ;
  }

  @media (min-width: 992px) {
    .responsive-card {
      max-width: 250px ; 
    }
    .cart-btn:hover{
        background-color: #4e3f35 !important;
        color: white !important;
        transition: background-color 0.3s ease, color 0.3s ease; 
    }
    .hide-large-screen{
        display: none !important;
    }

  }
}

@media (max-width: 768px){
    .hide{
        display: none !important;
    }
}

 
  